@using Models
@model List<AdminViewModel>


<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div>
    <form method="get" asp-controller="Accounts" asp-action="SearchAdmin">
        <div class="form-group">
            <label for="searchString">Sök efter administratör:</label>
            <input type="text" name="searchString" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Sök</button>
    </form>
    <div class="table-hover">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                    <th>E-postadress</th>
                    <th>Administratörsroll</th>
                    @if (User.IsInRole("Huvudadministratör"))
                    {
                        <th>Hantera</th>
                    }
                    
                </tr>
            </thead>
            <tbody>

                @foreach (var account in Model.OrderBy(l => l.LastName))
                {
                    <tr>
                        <td>@account.FirstName</td>
                        <td>@account.LastName</td>
                        <td>@account.Email</td>
                        <td>@account.Role</td>

                        @if (User.IsInRole("Huvudadministratör"))
                        {
                            <td><button class="btn btn-primary manage-btn"><a asp-controller="Accounts" asp-action="UpdateAccountForm" asp-route-id="@account.Id">Redigera</a></button>
                                <button class="btn btn-danger manage-btn"><a asp-controller="Accounts" asp-action="DeleteAccount" asp-route-id="@account.Id" onclick="return confirm('Är du säker på att du vill ta bort det här kontot? Det går inte att ångra.')">Ta bort konto</a></button></td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>