@model Models.ViewModels.SelectCategoryModel

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
<body>
    <div class="">
       <div class="text-center display-10 pt-4 pb-4">
            @if (ViewBag.Searchstring != null) {
            <h2 class="">"@ViewBag.Searchstring" gav följande sökresultat:</h2>
        }
       </div>
       <div>
            @foreach(var subcateogry in Model.Subcategories)
            {
                <p>@Html.ActionLink(subcateogry.Name, "Category", "Item", new { id = Model.CategoryId }, new { subId = subcateogry.SubcategoryId })</p>
            }
        </div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach(var item in Model.Items)
               {
                     <div class="col">
                        <div class="card text-center">
                          <img src="https://sachinchoolur.github.io/lightslider/img/cS-1.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(@item.Name, "Details", "Item", new {id = item.ItemId})</h5>
                            <p class="card-text">@item.PriceWithoutVAT kr</p>
                                        <form method="post" action="@Url.Action("Add", "ShoppingCart")">
                                            <input type="hidden" name="id" value="@item.ItemId"/>
                                            <button type="submit">Lägg till i varukorg</button>
                                        </form>
                            </div>
                        </div>
                    </div>
                }
               
                    }
            </div>
         </div>
</body>
