@model Models.ViewModels.ItemDetailsView;

@{
    ViewData["Title"] = "CV";
}

 <section class="py-5">
            <div class="container">
                <div class="row gx-4 gx-lg-5 align-items-center">
            @{
                string firstImagePath = Model.Images.FirstOrDefault().Path;
            }
                    <ul class="item-path">
                        <li class="item-path-item">
                            <a class="item-path-link">Start</a>
                        </li>
                <li class="item-path-item">
                    <a class="item-path-link">/ @Model.Item.Category.Name</a>
                </li>
                @if (Model.Item.Subcategory != null)
                {
                    <li class="item-path-item">
                            <a class="item-path-link">/ @Model.Item.Subcategory.Name</a>
                        </li>
                }
                <li class="item-path-item">
                    <a class="item-path-link">/ @Model.Item.Name</a>
                </li>
            </ul>
                    <div class="col-lg-5"><img class="card-img-top mb-5 mb-md-0" src="@firstImagePath" alt="..." />
                    <div class="w-100"></div>
                    <div class="row">
                    @if (Model.Images.Count > 1)
                    {
                        foreach (var image in Model.Images)
                        {
                            if (!image.Path.Equals(firstImagePath))
                            {
                                <div class="col-lg-4 details-images-container">
                                <img src="@image.Path" class="details-images"/>
                                </div>
                            }
                        }
                    }
                </div>
                    </div>
                    <div class="col-lg-5">
                        <h1 class="display-5 fw-bolder">@Model.Item.Name</h1>
                        <div class="fs-5 mb-1">
                    @{
                        var price = Model.Item.PriceWithoutVAT * Model.Item.VAT;
                        price = Math.Round(price, 2);
                    }
                            <span id="price">@price kr</span>
                        </div>
                        <div class="item-information-container">
                    <p><strong>Varumärke:</strong> @Model.Item.Brand</p>
                    @if (Model.Item.Color != null)
                    {
                        <p><strong>Färg:</strong> @Model.Item.Color</p>
                    }
                        </div>
                        <h6 id="item-description-heading">Produktbeskrivning:</h6>
                        <p class="lead description">@Model.Item.Description</p>
                    @if (Model.Item.HasSize)
                    {
                        <p>Välj storlek:</p>
                      <div class="mb-4">
                        @foreach(var size in Model.Sizes)
                            {
                                <button class="btn btn-outline-dark flex-shrink-0 size-button" type="button">
                                    @size.Name
                                </button>
                             }
                      </div>
                    }
                        <div class="d-flex">
                            <div>
                                <form>
                                <input type="number" name="quantity" value="1" min="1" max="10" class="form-control" id="quantity-input" />
                                @*<button type="button" class="btn btn-outline-dark flex-shrink-0" id="increment-btn">+</button>*@
                                </form>
                            </div>
                            <form method="post" action="@Url.Action("Add", "ShoppingCart")">
                                <input type="hidden" name="id" value="@Model.Item.ItemId"/>
                                  <button class="btn btn-outline-dark flex-shrink-0 cart-button-details" type="submit">Lägg till i varukorg</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</section>

<script>
    $(document).ready(function() {
        $('#increment-btn').click(function() {
            var currentQuantity = parseInt($('#quantity-input').val());
            var maxQuantity = parseInt($('#quantity-input').attr('max'));
            if (currentQuantity < maxQuantity) {
                $('#quantity-input').val(currentQuantity + 1);
            }
        });
    });
</script>