@model List<Models.Item>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>

            <div class="panel-heading">Sök efter item</div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Item", FormMethod.Post))
        {
            <div>
                <div>
                    <p>Sök:</p>
                    @Html.TextBox("searchstring")
                    <input type="submit" value="Sök" />
                </div>
            </div>
        }
    </div>
</div>

        <div class="table-hover">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Color</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Brand</td>
                        <td>@item.Category.Name</td>
                            @if(item.Subcategory != null)
                            {
                                <td>@item.Subcategory.Name</td>
                            }
                        <td>@item.Color</td>
                        <td>@item.Description</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    </div>
</body>
</html>