@using Models.ViewModels
@model StatisticsViewModel

<body>
    <div>
        <h2>Statistik</h2>
    </div>
    <div>
        <div>
            <ul class="list-group list-group-flush">
                @{
                    var count = 0;
                    var sold = "sålda";

                }
                @foreach (var item in Model.MostSoldItemCountForEachItem.OrderByDescending(i => i.Value))
                {
                    if (item.Value < 2)
                    {
                        sold = "såld";
                    }
                    if(item.Key.Color == null)
                    {
                        count++;
                            <li class="list-group-item">@count. @item.Key.Name, @item.Value @sold</li>
                    }
                    else
                    {
                        count++;
                        <li class="list-group-item">@count. @item.Key.Name @item.Key.Color.ToLower(), @item.Value @sold</li>
                    }
                }
            </ul>
        </div>
    </div>
</body>