@using Models.ViewModels
@model ShoppingCart

<body>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <h6><span class="cart-heading">VARUKORG </span></h6>

        <div class="card mb-4">
          <div class="card-body p-4">
            <div class="row align-items-center">
                 @if(Model != null && Model.Items.Count > 0) {

                    @foreach(var valuePair in Model.ItemQuantity)
                    {
                                    var item = Model.Items.Where(i => i.ItemId == valuePair.Key).Distinct().FirstOrDefault();
                                    var salesPrice = @Math.Round(item.PriceWithoutVAT * item.VAT, 2);
                                    <div class="col-md-2">
                <img src="@item.ProductImages.FirstOrDefault().Path"
                  class="img-fluid" alt="...">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="cart-p">Produktnamn</p>
                                            @if (item.HasSize)
                                            {
                                                <p class="lead fw-normal mb-0">@item.Name XL</p>
                                            }
                                            else
                                            {
                                                <p class="lead fw-normal mb-0">@item.Name</p>
                                            }
                                            
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                   <p class="cart-p">Färg</p>
                                        @if(item.Color != null)
                                            {
                                                <p class="lead fw-normal mb-0">
                                                    <i class="fas fa-circle me-2" style="color: #fdd8d2;"></i>
                                                    @item.Color
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="lead fw-normal mb-0">
                                                    <i class="fas fa-circle me-2" style="color: #fdd8d2;"></i>
                                                    Ingen
                                                </p>
                                            }

                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                    <form method="post" action="@Url.Action("Remove", "ShoppingCart")">
                        <input type="hidden" name="id" value="@item.ItemId"/>
                        <div class="form-group">
                        <label class="small text-muted mb-4 pb-2" for="quantity-@item.ItemId">Antal:</label>
                            <select class="form-control" name="quantity" id="quantity-@item.ItemId">
                                @for(int i = @valuePair.Value; i > 0; i--)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-danger btn-sm">Ta bort produkt</button>
                    </form>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Pris</p>
                  <p class="lead fw-normal mb-0">@salesPrice</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Delsumma</p>
                     @if(@valuePair.Value > 1)
                         {
                            var total = salesPrice * @valuePair.Value;
                            <p class="lead fw-normal mb-0">@total</p>
                         }
                          else
                            {
                              <p class="lead fw-normal mb-0">@salesPrice</p>    
                            }
                 </div>
              </div>
                    }
                }
              </div>
          </div>
        </div>

        <div class="card mb-5">
          <div class="card-body p-4">

            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Totalsumma:</span> <span
                  class="lead fw-normal">@Model.Total kr</span>
              </p>
              <p class="mb-0 me-5 d-flex align-items-center">Fraktkostnader kan tillkomma. Fraktalternativ väljs i kassan.</p>
            </div>

          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-light btn-lg me-2">Fortsätt handla</button>
                    <button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-dark" asp-controller="CheckoutApi" asp-action="Create">Gå till kassan</a></button>
        </div>

      </div>
    </div>
  </div>
</body>