@using Models
@model Item

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <h2>@Model.Name</h2>
    </div>
    <div>
        @if (Model.ProductImages.Any())
        {
            @foreach (var image in Model.ProductImages.DistinctBy(i => i.Path))
            {
                <img class="img-fluid item-info-img" src="@Url.Content(image.Path)" alt="Produktbild" />
            }
        }
        else
        {
            <img class="item-info-img" src="~/images/productImages/noimage.jpg" alt="Ingen produktbild tillgänglig" />
        }

    </div>
    <div>
        @if (Model.ArticleNr != null)
        {
            <div class="item-info-item">
                <strong>Artikelnummer: </strong><p>@Model.ArticleNr</p>
            </div>
        }
        <div class="item-info-item">
            <strong>Varumärke: </strong><p>@Model.Brand</p>
        </div>
        @if (Model.Color != null)
        {
            <div class="item-info-item">
                <strong>Färg: </strong><p>@Model.Color</p>
            </div>
        }
        <div class="item-info-item">
            <strong>Produktbeskrivning: </strong><p>@Model.Description</p>
        </div>
        <div class="item-info-item">
            <strong>Kategori</strong><p>@Model.Category.Name</p>
        </div>
        @if (Model.SubcategoryId != null)
        {
            <div class="item-info-item">
                <strong>Underkategori: </strong><p>@Model.Subcategory.Name</p>
            </div>
        }
        <div class="item-info-item">
            <strong>Pris (exkl. moms)</strong><p>@Model.PriceWithoutVAT</p>
        </div>
        <div class="item-info-item">
            <strong>Momssats: </strong><p>@Model.VAT</p>
        </div>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            @if (Model.IsPublished == false)
            {
                <div>
                    <button class="btn btn-success" onclick="location.href='@Url.Action("ItemPublisherManager", "Items", new { id = @Model.ItemId })'">Publicera på webbshoppen</button>
                </div>
            }
            else
            {
                <div>
                    <button class="btn btn-success" onclick="location.href='@Url.Action("ItemPublisherManager", "Items", new { id = @Model.ItemId })'">Avpublicera från webbshoppen</button>
                </div>
            }
            <button class="btn btn-primary" onclick="location.href='@Url.Action("ModifyItemForm", "Items", new { id = @Model.ItemId })'">Redigera produkt</button>
            @if (!Model.HasSize)
            {
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStockModal" data-itemid="@Model.ItemId">
                    Fyll på lagersaldo
                </button>
            }
            
            <button class="btn btn-primary" onclick="location.href='@Url.Action("RemoveFromBalance", "Items", new { id = @Model.ItemId })'">Minska lagersaldo</button>
            <button class="btn btn-danger" onclick="if(confirm('Är du säker på att du vill ta bort den här produkten? Det går inte att ångra.')){ location.href='@Url.Action("DeleteItem", "Items", new { id = Model.ItemId })' }">Radera produkt</button>
        </div>
        <!-- The modal -->
        <div class="modal fade" id="addStockModal" tabindex="-1" aria-labelledby="addStockModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addStockModalLabel">Fyll på lagersaldo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addStockForm" asp-controller="Items" asp-action="AdjustStock" data-itemid="@Model.ItemId">
                            <div class="mb-3">
                                <label for="quantity" class="form-label">Antal</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="mb-3">
                                <label for="transactionType" class="form-label">Transaktionstyp</label>
                                <select class="form-select" id="transactionType" name="transactionType" required>
                                    <option value="In">In</option>
                                    <option value="Ut">Ut</option>
                                </select>
                            </div>
                            <input type="hidden" id="itemId" name="itemId" value="@Model.ItemId">
                            <input type="hidden" id="transactionTypeHidden" name="transactionType" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                        <button type="submit" form="addStockForm" class="btn btn-primary">Spara</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script>
            $('#addStockModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Knappen som öppnade modalen
                var itemId = button.data('itemid') // Extrahera värdet för data-itemid-attributet från knappen

                // Uppdatera det dolda itemId-fältet i modalen med rätt värde
                var modal = $(this)
                modal.find('#itemId').val(itemId)
            });
              // Lägg till en eventlyssnare på select-elementet
              var transactionTypeSelect = document.getElementById("transactionType");
            transactionTypeSelect.addEventListener("change", function () {
                // Sätt värdet på den gömda inputen till det valda alternativet
                var transactionTypeHidden = document.getElementById("transactionTypeHidden");
                transactionTypeHidden.value = transactionTypeSelect.value;
            });
        </script>
    }
</body>