@using Models
@model List<Category>


<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h2>Visar alla kategorier</h2>
<form method="get" asp-controller="Categories" asp-action="SearchCategory">
    <div class="form-group">
        <label for="searchString">Sök efter kategori:</label>
        <input type="text" name="searchString" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Sök</button>
</form>
<div>
    <div class="table-hover">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Kategorinamn</th>
                    <th>Publicerad i webbshoppen?</th>
                    <th>Hantera</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var category in Model.OrderBy(c => c.Name))
                {
                    if (!category.Name.Equals("Odefinierad"))
                    {


                        <tr>
                            <td>@category.Name</td>
                            @if(category.IsPublished == true)
                            {
                                <td><strong>JA:</strong> <a asp-controller="Categories" asp-action="CategoryPublisherManager" asp-route-id="@category.CategoryId">Avpublicera</a></td>
                            }
                            else
                            {
                                <td><strong>NEJ:</strong> <a asp-controller="Categories" asp-action="CategoryPublisherManager" asp-route-id="@category.CategoryId">Publicera</a></td>
                            }
                            <td>
                                <button class="btn btn-light subcategory-btn"><a asp-controller="Categories" asp-action="AllSubcategories" asp-route-id="@category.CategoryId">Se underkategorier</a></button>
                                @if (User.IsInRole("Huvudadministratör"))
                                {
                                    <button class="btn btn-primary manage-btn"><a asp-controller="" asp-action="" asp-route-id="@category.CategoryId">Redigera</a></button>
                                    <button class="btn btn-danger manage-btn"><a asp-controller="Categories" asp-action="DeleteCategory" asp-route-id="@category.CategoryId" onclick="return confirm('Är du säker på att du vill ta bort denna kategori? Även eventuella tillhörande underkategorier kommer att tas bort och detta går inte att ångra.')">Ta bort kategori</a></button>
                                }
                            </td>


                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
