@using Models
@model SubcategoryViewModel


<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@if (Model.Subcategories.Count < 1)
{
    <h4>Det finns inga underkategorier för "@Model.Category.Name.ToLower()"</h4>
} 
else
{
    <h2>Visar underkategorier för kategorin "@Model.Category.Name.ToLower()"</h2>
    <form method="get" asp-controller="Categories" asp-action="SearchSubcategory">
        <div class="form-group">
            <label for="searchString">Sök efter underkategori för "@Model.Category.Name":</label>
            <input type="text" name="searchString" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Sök</button>
    </form>
<div>
    <div class="table-hover">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Underkategori</th>
                    @if (User.IsInRole("Huvudadministratör")) 
                    {
                        <th>Hantera</th>
                    }
                    
                </tr>
            </thead>
            <tbody>

                @foreach (var subcategory in Model.Subcategories.OrderBy(c => c.Name))
                {
                    <tr>
                        <td>@subcategory.Name</td>
                            
                            @if (User.IsInRole("Huvudadministratör"))
                            {
                                <td>
                                <button class="btn btn-primary manage-btn"><a asp-controller="" asp-action="" asp-route-id="@subcategory.CategoryId">Redigera</a></button>
                                <button class="btn btn-danger manage-btn"><a asp-controller="Categories" asp-action="DeleteSubcategory" asp-route-id="@subcategory.SubcategoryId" onclick="return confirm('Är du säker på att du vill ta bort denna underkategori? Detta går inte att ångra.')">Ta bort underkategori</a></button>
                                </td>
                            } 

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}

<button class="btn btn-primary create-sub"><a asp-controller="Categories" asp-action="CreateSubcategoryFromCategoryForm" asp-route-id="@Model.Category.CategoryId">Skapa en ny underkategori</a></button>

